body {
    background: rgb(54, 125, 196);
    background-image: url(https://i.imgur.com/X3LHqhN.jpg);
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
    color: rgb(219, 214, 214);
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div {
    margin-left: 150px;
    margin-right: 150px;
    justify-content: center;
    align-items: center;
    text-align: center;

}